<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />

  </head>
  <body>
    <h1>Braintree Example Index</h1>
    <ul>
      <li><a href="hostedfields">Hosted Fields</a></li>
      <li><a href="drop-in">Drop in</a></li>
      <li><a href="drop-in-with-paylater">Drop in with PayLater Standalone</a></li>
      <li><a href="googlepay">Google Pay</a></li>
      <li><a href="multipaymentmethods">Multi Payment Methods</a></li>
      <li><a href="3dsecure">3D Secure</a></li>
      <li><a href="paypalcheckout">PayPal Checkout Flow</a></li>
      <li><a href="paypalvault">PayPal Vault Flow</a></li>
    </ul>
  </body>
</html>
