<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />

  </head>
  <body>
    <h1>Braintree Example Index</h1>
    
    <ul>
      <li><a href="braintree-examples/hostedfields">Hosted Fields</a></li>
      <li><a href="braintree-examples/drop-in">Drop in</a></li>
      <li><a href="braintree-examples/drop-in-with-paylater">Drop in with PayLater Standalone</a></li>
      <li><a href="braintree-examples/googlepay">Google Pay</a></li>
      <li><a href="braintree-examples/multipaymentmethods">Multi Payment Methods</a></li>
      <li><a href="braintree-examples/3dsecure">3D Secure</a></li>
      <li><a href="braintree-examples/paypalcheckout">PayPal Checkout Flow</a></li>
      <li><a href="braintree-examples/paypalvault">PayPal Vault Flow</a></li>
    </ul>

    <h1>PayPal Example Index</h1>
    <ul>
    </ul>
  </body>
</html>
