<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <script src="https://js.braintreegateway.com/web/dropin/1.32.1/js/dropin.min.js"></script>
    <script src="https://js.braintreegateway.com/web/3.85.2/js/client.min.js"></script>
    <script src="https://js.braintreegateway.com/web/3.85.2/js/paypal-checkout.min.js"></script>

    <!-- includes jQuery -->
  </head>
  <body>
    <div id="dropin-wrapper">
      <div id="checkout-message"></div>
      <div id="dropin-container"></div>
      <button id="submit-button">Submit payment</button>
    </div>

    <script>
      (async () => {
        let button = document.querySelector('#submit-button');

        let clientToken;

        clientToken = await fetch('/api/client-token')
          .then((response) => response.text())
          .catch((error) => console.log('error', error));


        braintree.dropin
          .create({
            // Insert your tokenization key here
            authorization: "sandbox_v2jfkq6z_zxwjpt2w8t8yfjcq",
            container: '#dropin-container',
            paypal: {
              flow: 'checkout',
              amount: '40.00',
              currency: 'USD',
            },
            venmo: {
              allowDesktop: true,
            },
            googlePay: {
              // merchantId: '800000000800',
              transactionInfo: {
                totalPriceStatus: 'FINAL',
                totalPrice: '1.00',
                currencyCode: 'USD'
              }
            },
            applePay: {
              displayName: 'Mervin Store',
              paymentRequest: {
                total: {
                  label: 'Mervin Store',
                  amount: '1.00',
                },
              },
            },
          })
          .then(function (dropinInstance) {
            button.addEventListener('click', function () {
              dropinInstance
                .requestPaymentMethod()
                .then(function (payload) {
                  // When the user clicks on the 'Submit payment' button this code will send the
                  // encrypted payment information in a variable called a payment method nonce
                  fetch('/api/checkout', {
                    method: 'POST',
                    body: { paymentMethodNonce: payload.nonce },
                  }).then(function (result) {
                    // Tear down the Drop-in UI
                    dropinInstance.teardown(function (teardownErr) {
                      if (teardownErr) {
                        console.error('Could not tear down Drop-in UI!');
                      } else {
                        console.info('Drop-in UI has been torn down!');
                        // Remove the 'Submit payment' button
                        $('#submit-button').remove();
                      }
                    });

                    if (result.ok) {
                      result.json().then((response) => console.log(response));
                      $('#checkout-message').html(
                        '<h1>Success</h1><p>Your Drop-in UI is working! Check your <a href="https://sandbox.braintreegateway.com/login">sandbox Control Panel</a> for your test transactions.</p><p>Refresh to try another transaction.</p>'
                      );
                    } else {
                      console.log(result);
                      $('#checkout-message').html(
                        '<h1>Error</h1><p>Check your console.</p>'
                      );
                    }
                  });
                })
                .catch(function (err) {
                  console.error(err);
                });
            });
          })
          .catch(function (err) {
            console.error(err);
          });
      })();
    </script>
  </body>
</html>
