<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/stylesheets/style.css" />

  <script src="https://js.braintreegateway.com/web/dropin/1.32.1/js/dropin.min.js"></script>
  <script src="https://js.braintreegateway.com/web/3.85.2/js/client.min.js"></script>

  <!-- includes jQuery -->
</head>

<body>
  <div id="dropin-wrapper">
    <div id="checkout-message"></div>
    <div id="dropin-container"></div>
    <button id="submit-button">Submit payment</button>
    <button id="clear-button">Clear Payment Method</button>
  </div>

  <script>
    (async () => {
      let sumbitButton = document.querySelector('#submit-button');
      let clearButton = document.querySelector('#clear-button');

      let clientToken = await fetch('/api/client-token')
        .then((response) => response.text())
        .catch((error) => console.log('error', error));

      const config = {
        authorization: clientToken,
        container: '#dropin-container',
        paypal: {
          flow: 'vault',
          amount: '40.00',
          currency: 'USD',
          enableShippingAddress: true
        },
        venmo: {
          allowDesktop: true,
        },
        googlePay: {
          transactionInfo: {
            totalPriceStatus: 'FINAL',
            totalPrice: '1.00',
            currencyCode: 'USD',
          },
        },
        applePay: {
          displayName: 'Mervin Store',
          paymentRequest: {
            total: {
              label: 'Mervin Store',
              amount: '1.00',
            },
          },
        },
        card: {
          overrides: {
            fields: {
              expirationDate: {
                prefill: "01/24"
              }
            }
          }
        }
      }

      try {
        const dropinInstance = await braintree.dropin.create(config)
      } catch (err) {
        console.log(err)
      }

      sumbitButton.addEventListener('click', async function () {
        const payload = await dropinInstance.requestPaymentMethod()
        console.log(payload)
        // .catch(function (err) {
        //   console.error(err);
        // });
      });

      clearButton.addEventListener('click', function () {
        dropinInstance.clearSelectedPaymentMethod()
      })

    })();
  </script>
</body>

</html>