a {
  color: #00B7FF;
}

* {
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 2em;
  flex-direction: column;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

hr {
  width: 85%;
}

form {
  max-width: 800px;
  margin: auto;
}

.bt-drop-in-container {
  width: 100%;  
}
.row {
  margin-bottom: 1em;
}

.row:last-child {
  margin-bottom: 0;
}