<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <link rel="stylesheet" type="text/css"
    href="https://www.paypalobjects.com/webstatic/en_US/developer/docs/css/cardfields.css" /> -->
  <link rel="stylesheet" type="text/css"
    href="https://www.paypalobjects.com/webstatic/en_US/developer/docs/css/cardfields.css" />
  <script src="https://www.paypal.com/sdk/js?components=buttons,card-fields&client-id=<%= clientId %>"
    data-client-token="<%= clientToken %>"></script>
</head>

<body>
  <div id="paypal-button-container" class="paypal-button-container"></div>


  <div class="card_container">
    <form id="card-form">
      <label for="card-number"></label>Card Number</label>
      <div id="card-number"></div>
      <div>
        <label for="expiration-date">Expiration Date</label>
        <div id="expiration-date"></div>
      </div>
      <div>
        <label for="cvv">CVV</label>
        <div id="cvv"></div>
      </div>
      <label for="card-holder-name">Name on Card</label>
      <div type="text" id="card-holder-name" name="card-holder-name" autocomplete="off" value="Test Name" />
      <!-- <input type="text" id="card-billing-address-country" name="card-billing-address-country" autocomplete="off"
        placeholder="country code" value="US" /> -->
      <!-- <label for="save">Save your card (Vault V3 Integration)</label>
      <input type="checkbox" id="save" name="save"> -->
  </div>
  <div class="button_container">
    <button type="button" id="submit-button" value="">Pay</button>
    <button type="button" id="clear-name" value="">Clear Name</button>
    <button type="button" id="placeholder-name" value="">Placeholder Name</button>
    <button type="button" id="clear-number" value="">Clear Number</button>
    <button type="button" id="clear-cvv" value="">Clear CVV</button>
    <button type="button" id="clear-expiry" value="">Clear Expiry</button>
    <button type="button" id="render-button" value="">Render Card-Fields</button>

  </div>
  <input type="checkbox" id="name-checkbox">

  </form>
  </div>




  <script defer src="/javascripts/paypal-cardfields.js"></script>
</body>

</html>